/* body {
  background: #111;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: 'Netflix Sans', 'Helvetica Neue', 'Segoe UI', Roboto, Ubuntu, sans-serif;
} */
body {
  margin: 0;
  padding: 0;
  background:repeating-linear-gradient(to top, rgb(0, 0, 0), rgba(14, 2, 2, 0.952), #0e0000f8);
  color: white;
  font-family: 'Netflix Sans', 'Helvetica Neue', 'Segoe UI', Roboto, Ubuntu, sans-serif;
}
.hero-bg {
  margin-top: 16px;
  background-image: 
    linear-gradient(to top, rgb(65, 64, 64), rgba(0, 0, 0, 0.582), rgba(0, 0, 0, 0.644)),
    url('src/assets/bg-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  border-radius: 30px;
  mask-image: linear-gradient(rgb(217, 217, 217) 78.62%, rgba(115, 115, 115, 0) 100%);
}
.custom-container{
  margin:24px 48px;
}
.custom-btn {
  padding: 0px;
  height: 32px;
  background-color: transparent;
  color: #fff;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 20px;
}
.custom-btn:hover {
  border: 1px solid rgb(190, 190, 190);
}

.sign-up{
  position:absolute ;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sign-up-title-h1{
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 125%;
  text-align: center;
  word-wrap: break-word;
  white-space: normal;
}
.sign-up-title-p{
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}
.sign-up-title-h3{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}
.sign-up-btns {
  padding-left: 12px;
  width: 342px;
  height: 56px;
  background-color: transparent;
  color: #fff;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 50px;
  align-content: center;
}
.sign-up-form {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
@media (max-width: 960px) {
  .custom-container {
    margin: 24px 32px;
  }.sign-up-title-h1{
    font-size: 2rem;
    font-weight: 900;
  }.sign-up-title-p{
    font-size: 1.125rem;
    font-weight: 400;
  }.sign-up-title-h3{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }

}
@media (max-width: 600px) {
  .custom-container {
    margin: 24px;
  }.sign-up-title-h1{
    font-size: 2rem;
    font-weight: 700;
  }.sign-up-title-p{
    font-size: 1rem;
    font-weight: 400;
  }.sign-up-title-h3{
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
  }.sign-up-form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }input{
    margin: 0;
  }

  .sign-up-btns {
    flex: 1 1 250px;
    max-width: 300px;
  }

  .sign-up-button {
    flex: 1 1 150px;
    max-width: 160px;
  }
}

/* ......................login page ........... */

.login-box {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 50px 40px;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  color: white;
  box-sizing: border-box;
}

.login-box h2 {
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: bold;
}

.login-box form {
  display: flex;
  flex-direction: column;
}

.login-box input {
  margin-bottom: 15px;
  padding: 14px;
  font-size: 16px;
  background-color: #333;
  border: none;
  border-radius: 4px;
  color: white;
}

.login-box button {
  padding: 14px;
  background-color: red;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s ease;
}

.login-box button:hover {
  background-color: #e50914;
}

.signup-link {
  margin-top: 20px;
  font-size: 14px;
}

.signup-link a {
  color: #fff;
  text-decoration: underline;
}

/* .............home header........... */


.navbar {
  position:absolute;
  top: 0;
  width: 100%;
  padding: 20px 20px 20px 50px;
  z-index: 1000;
}
.logo {
  color: red;
  font-size: 24px;
  font-weight: bold;
}

/* ..............banner............... */

.banner {
  color: white;
  object-fit: contain;
  height: 448px;
  position: relative;
}
.banner-contents {
  padding: 20px;
  padding-top: 140px;
  height: 190px;
  width: 95%;
  z-index: 1;
}
.banner-contents h1 {
  font-size: 4rem;
  font-weight: 900;
  padding-bottom: 0.3rem;
  padding-left: 30px;

}
.banner-contents p {
  padding-left: 30px;
  width: 45rem;
  max-width: 50rem;
  font-size: 1rem;
  line-height: 1.3;
  padding-top: 1rem;
}
.banner-fadeBottom {
  height: 7.4rem;
  background-image: linear-gradient(180deg, transparent, rgba(37,37,37,0.61), #111);
  position: absolute;
  bottom: 0;
  width: 100%;
}
.banner-loading {
  color: white;
  padding: 50px;
  text-align: center;
}



/* ........home page...... */

/* .home {
  background-color: #111;
  color: white;
  min-height: 100vh;
  padding-bottom: 40px;
  font-family: Arial, sans-serif;
}

.movies-section {
  padding: 20px 40px;
}

.section-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: white;
}

/*.movie-row {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding-bottom: 10px;
  scroll-behavior: smooth;
}

.movie-row::-webkit-scrollbar {
  height: 8px;
}

.movie-row::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.movie-row::-webkit-scrollbar-track {
  background: transparent;
}

.movie-poster {
  width: 150px;
  border-radius: 6px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.movie-poster:hover {
  transform: scale(1.08);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.loading-text,
.error-text {
  color: #bbb;
  padding-left: 40px;
} */
.row-wrapper {
  position: relative;
}

.movie-row {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 0 20px 10px 20px;
  /* padding-bottom: 10px; */
  scroll-behavior: smooth;
  transition: all 0.3s ease;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.movie-row::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
  padding: 0 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

.scroll-button.left {
  /* left: 0; */
    left: 5px;
}

.scroll-button.right {
  /* right: 0; */
   right: 5px;
}

.row-wrapper:hover .scroll-button {
  opacity: 1;
}

.movie-poster {
  width: 150px;
  border-radius: 6px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.movie-poster:hover {
  transform: scale(1.08);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}


@media (max-width: 768px) {
  .navbar{
    padding: 20px;
  }
  .movie-poster {
    width: 120px;
  }

  .section-title {
    font-size: 1.2rem;
    margin-left: 15px;
  }

  .scroll-button {
    font-size: 1.5rem;
    padding: 4px 8px;
  }

  .banner-contents h1 {
    /* font-size: 1.5rem; */
    font-size: 2.5rem;
    padding-left: 0px;
  }

  .banner-contents p {
    font-size: 0.9rem;
    max-width: 67%;
    padding-left: 0px;
  }
}

@media (max-width: 576px) {
  .banner-contents h1 {
    font-size: 1.5rem;
  }
}